.img-representante{
    background: linear-gradient(0deg, rgba(42, 187, 207, 0.59), rgba(42, 187, 207, 0.59)), url(../imagens/representante-comercial-ecommerce-b2b.jpg);
    box-shadow: inset 0px 4px 100px rgba(0, 0, 0, 1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-right: 3px solid rgba(0, 0, 0, 0.8);
}

html, body {
    height: 100%;
}

.row-logo{
    height: 60px;
    background-image: url(../imagens/kisspng-logo-clip-art-brand-rocket-design-logo-rocket-favicon-red-smmrocket-5bd5e2b1afa5d5.6747100915407438577195.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.line-input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}

.center-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.img-visum{
    background-image: url(../imagens/logo-original-fundo-claro.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.row-logo-empresa{
    height: 250px;
    background-image: url(../imagens/logo-original-fundo-claro.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}